@import url('https://fonts.googleapis.com/css2?family=Itim&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}

/* Header ------------------------------------------*/

header{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(0deg, rgba(24, 24, 83,1) 20%, rgba(237,182,69,1) 50%, rgba(24, 24, 83,1) 80%);
    width: 100%;
    align-items: center;
    position: sticky;
    top: 0%;
    padding: 0% 0.5%;
    border: 3px solid black;
}

.logo{
    margin-left: 4%;
    height: 4.5vw;
}

.cont_menu{
    padding: 0;
    margin: 0;
    width: 70%;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    width: 100%;
    padding-inline-start: 0%;
    align-items: center;
}

.menu_item{
    font-family: Sriracha, Roboto, Verdana, Tahoma, sans-serif;
    width: 18%;
}

.menu_item a {
    display: inline-block;
    text-decoration: none;
    font-size: clamp(0.55em, 1.5vw, 2em);
    text-align: center;
    color: black;
    width: 100%;
}

/* Body ---------------------------------------------------*/

body {
    padding: 0%;
    margin: 0%;
    background-image: url(../multimedia/fondo.png);
}

h1 {
    color: white;
    background-color: rgb(24, 24, 83);
    font-family: Capriola, Roboto, Verdana, Tahoma, sans-serif;
    text-align: center;
    padding: 2%;
    margin: 2% 0%;
}

.strong_boca{
    color: rgb(202, 166, 2);
    margin: 0%;
}

.titulo_dos {
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 6px;
    font-size: clamp(1.5em, 3vw, 3.5em);
    font-family: Itim, Roboto, Verdana, Tahoma, sans-serif;
    text-align: center;
    padding: 0.5%;
}

.contenedor_parrafo{
    background-image: url(../multimedia/fondo_escudo.jpg);
    background-size: 50%;
}

.parrafo_uno{  
    color: white;
    font-family: Itim, Roboto, Verdana, Tahoma, sans-serif;
    font-size: clamp(1em, 2vw, 3em);
    border-radius: 7px;
    font-style: oblique;
    font-weight: 300;
    background-color: RGBa(0,0,0,0.5);
    padding: 1.5%;
}

.titulo_tres {
    font-family: Itim, Roboto, Verdana, Tahoma, sans-serif;
    font-size: clamp(1.5em, 3vw, 3.5em);
    border-radius: 6px;
    text-align: center;
    padding: 0.5%;
    color: rgb(207, 124, 0);
    background-color: rgba(0, 1, 83, 0.85);
}

/* Aside --------------------------------------------------*/

.section{
    display: table;
    width: 100%;
}
.parrafo_dos{
    color: white;
    font-size: clamp(1em, 2vw, 3em);
    font-family: Itim, Roboto, Verdana, Tahoma, sans-serif;
    border-radius: 7px;
    font-style: oblique;
    font-weight: 300;
    background-color: RGBa(0,0,0,0.7);
    float: left;
    width: 60%;
    margin-left: 1%;
    padding: 1%;
}

.barra_lateral{
    float: right;
    width: 33%;
    border: 10px double rgb(0, 0, 0);
    border-radius: 5px;
    padding: 1% auto;
    margin: 2% 1.5%;
    background-color: rgba(31, 255, 255, 0.4);
    text-align: center;
    box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.8);
}

.titulo_mapa{
    font-family: Itim, Roboto, Verdana, Tahoma, sans-serif;
    font-size: clamp(1em, 2vw, 3em);
    border-radius: 15px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    margin: 2% 1% 1%;
}

.mapa_estadio{
    margin: 4% auto;
    width: 70%;
    height: 50vh;
    border: 4px solid rgb(0, 0, 0);
    
}

.foto_estadio{
    margin: 4% auto;
    width: 80%;
    border: 4px solid rgb(0, 0, 0);
}

@media (width < 600px) {

    .section{
        display: block;
    }

    .parrafo_dos {
        float: none;
        width: 98%;
    }

    .barra_lateral{
        float: none;
        margin: 0% auto;  
    }

    .mapa_estadio{
        height: 20vh;        
    }
    
}

/* Grid ----------------------------------------------*/

.titulo_cuatro {
    font-family: Itim, Roboto, Verdana, Tahoma, sans-serif;
    font-size: clamp(1.5em, 3vw, 3.5em);
    border-radius: 6px;
    text-align: center;
    padding: 0.5%;
    color: rgb(207, 124, 0);
    background-color: rgba(0, 1, 83, 0.85);
}

.grid_cont{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    background: linear-gradient(90deg, rgba(252,252,252,1) 7%, rgba(0,202,255,1) 54%, rgba(255,237,132,1) 89%);
    border: 3px dotted black;
    border-radius: 5px;
    margin: 1% 2%;
    padding: 2%;
    grid-template-areas: 
    'item_1 item_2 item_3'
    'item_1 item_2 item_4'
    'item_6 item_6 item_5';
}

.grid_item_1{
    grid-area: item_1;
}

.grid_item_2{
    grid-area: item_2;
}

.grid_item_3{
    grid-area: item_3;
}

.grid_item_4{
    grid-area: item_4;
}

.grid_item_5{
    grid-area: item_5;
}

.grid_item_6{
    grid-area: item_6;
}

.grid_cont p{
    color: black;
    border: 2px dotted black;
    border-radius: 5px;
    margin: 2% 0;
    padding: 2%;
    font-family: Itim, Roboto, Verdana, Tahoma, sans-serif;
    font-size: clamp(1em, 2vw, 3em);
    background-color: rgba(255, 255, 255, 0.5);
}

@media (width < 500px){
    .grid_cont{
        background: linear-gradient(90deg, rgba(0,0,0,1) 7%, rgba(0,20,231,1) 54%, rgba(236,173,46,1) 89%);
    }

    .grid_item_1{
        grid-area: 1/1/2/4;
    }
    
    .grid_item_2{
        grid-area: 2/1/3/4;
    }
    
    .grid_item_3{
        grid-area: 3/1/4/4;
    }
    
    .grid_item_4{
        grid-area: 4/1/5/4;
    }
    
    .grid_item_5{
        grid-area: 5/1/6/4;
    }
    
    .grid_item_6{
        grid-area: 6/1/7/4;
    }
}

/* Flexbox ----------------------------------------------- */

.titulo_cinco {
    font-family: Itim, Roboto, Verdana, Tahoma, sans-serif;
    font-size: clamp(1.5em, 3vw, 3.5em);
    border-radius: 6px;
    text-align: center;
    padding: 0.5%;
    color: rgb(207, 124, 0);
    background-color: rgba(0, 1, 83, 0.85);
}

.contenedorItems{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(57, 126, 255, 0.6);
    border: 5px outset rgb(0, 0, 0);
    border-radius: 10px;
    padding: 1%;
    gap: 10px;
}

.card{
    border: 3px solid black;
    background-color: blue;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 25%;
    padding: 2%;
    margin: 2%;
    text-align: center;
}

.itemImagen{
    background-color: black;
    border: 2px solid black;
    margin: auto;
    width: 100%;
    height: 240px;
}

.nombre{
    background-color: rgba(2, 2, 2, 0.75);
    padding: 1%;
    border-radius: 5px;
    margin: auto;
    color: aliceblue;
    font-family: Nunito, Verdana, Geneva, Tahoma, sans-serif;
    font-size: clamp(1em, 1.5vw, 3em);
    text-align: center;
}

.precio{
    display: inline-block;
    color: white;
    font-family: Nunito, Verdana, Geneva, Tahoma, sans-serif;
    font-size: clamp(1em, 1.5vw, 3em);
    font-weight: 700;
    margin: 2%;
}

.boton{
    color: rgb(255, 255, 255);
    font-family: Nunito, Roboto, Verdana, Tahoma, sans-serif;
    font-size: 1vw;
    font-weight: 400;
    border: 3px ridge gray;
    background-color: black;
    width: 8vw;
    margin: 1%;
}

.detalles{
    display: none;
}

.detalles p{
    color: black;
    border: 2px dotted black;
    border-radius: 5px;
    margin: 2% 0;
    padding: 2%;
    font-family: Itim, Roboto, Verdana, Tahoma, sans-serif;
    font-size: clamp(0.5em, 1.5vw, 3em);
    background-color: rgba(255, 255, 255, 0.5);
}

/*.boton:hover{
    letter-spacing: 2px;
}*/

/* Formulario ---------------------------*/

.titulo_seis {
    font-family: Itim, Roboto, Verdana, Tahoma, sans-serif;
    font-size: clamp(1.5em, 3vw, 3.5em);
    border-radius: 6px;
    text-align: center;
    padding: 0.5%;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.85);
}

.formulario{
    border: 6px inset #ffb214;
    border-radius: 5px;
    background-color: beige;
    font-family: Itim, Roboto, Verdana, Tahoma, sans-serif;
    margin: 2% 8%;
    padding: 1.5%;
    padding-left: 0;
    text-align: center;
}

.input_form{
    border: 3px ridge #ffb214;
    font-family: Itim, Roboto, Verdana, Tahoma, sans-serif;
    font-size: clamp(0.8em, 1.8vw, 2.5em);
    width: 25vw;
    margin: 4% auto;
}

#mensaje{
    border: 3px ridge #ffb214;
    font-family: Itim, Roboto, Verdana, Tahoma, sans-serif;
    font-size: clamp(0.8em, 1.8vw, 2.5em);
    width: 50%;
}

.formulario label{
    display: inline-table;
    font-family: Nunito, Roboto, Verdana, Tahoma, sans-serif;
    font-weight: 700;
    font-size: clamp(0.8em, 1.8vw, 2.5em);
    margin: 0;
    margin-left: 1%;
    padding-bottom: 0%;
    width: 10%;
}

.botonForm{
    color: white;
    font-family: Nunito, Roboto, Verdana, Tahoma, sans-serif;
    font-size: 1vw;
    font-weight: 650;
    border: 3px ridge gray;
    background-color: black;
    width: 10vw;
}

@media (width < 650px){
    .input_form{
        display: block;
        width: 48%;
    }
    .formulario label{
        width: 50%;
    }
}

/* Footer ----------------------------------------------------------*/

footer {
    display: table;
    width: 100%;
    background-color: #525151;
    border: 5px rgba(2, 2, 2, 0.5);
    border-style: dashed;
}

.tit_footer{
    font-family: Capriola, Roboto, Tahoma, Verdana, sans-serif;
    font-size: clamp(0.8em, 1.5vw, 2em);
    padding-left: 1%;
    margin: 1% 0% 0%;
    color: white;
}

.lista_redes{
    list-style: circle;
    text-decoration: none;
    padding-inline-start: 1%;
    width: 100%;
    float: left;
    width: 30%;
}

.redes_item{
    display: inline-block;
    margin: 0 3%;
}

.redes_item a{
    text-decoration: none;
    font-size: clamp(1em, 2.5vw, 3em);
    color: #ffb214;
}

.firma{
    font-family: Honk, Roboto, Verdana, Tahoma, sans-serif;
    font-size: clamp(0.7em, 1.5vw, 2em);
    float: right;
    width: 40%;
    padding-left: 5%;
}